.footer
  #webring
    h4
      a(href="https://en.wikipedia.org/wiki/Webring") Webring
    .flex.space-around
      a(href="https://robbyzambito.me" title="Robby Zambito")
        tt « robbyzambito.me
      span
        tt luchenlabs.com (You are Here)
      a(href="https://toph.lol")
        tt toph.lol »
  hr
  #middle
    span This site was hastily bolted together with a heretical smattering of technologies described 
      a(href='https://github.com/Cheezmeister/luchenlabs') here

