.header
  .logo
    a(href="/")
      img(width="64px" height="64px" alt="Logo" src="/assets/images/initials.svg")

  .navigation
    a(href="/") Home
    a(href="/lp") Code
    a(href="/projects") Games
    a(href="/words") Words
    a(href="/tunes") Tunes
    a(href="/bio") Bio
