.header
  .logo
    a(href="/")
      img(width="64px" height="64px" alt="Logo" src="/assets/images/initials64.png")

  .navigation
    a(href="/") Home
    a(href="/projects") Projects
    a(href="/bio") Bio
    a(href="/contact") Contact
