#sidebar
  p I can be reached at my first name @ this domain or via your community of choice.
  table.contact
    // tr.phone
    //   td: img(src='/assets/icons/phone.png' title='Phone')
    //   td: a(href='tel:19162582436') 1.916.BLUCHEN
    tr.twitter
      td: img(src='/assets/icons/twitter.ico' title='twitter')
      td: a(href='http://twitter.com/chzmstr') Twitter
    tr.reddit
      td: img(src='http://www.reddit.com/favicon.ico' title='Reddit')
      td: a(href='http://www.reddit.com/u/Cheezmeister') Reddit
    tr.linkedin
      td: img(src='/assets/icons/linkedin.ico' title='LinkedIn')
      td: a(href='http://linkedin.com/in/cheezmeister') LinkedIn
    tr.stackoverflow
      td: img(src='/assets/icons/stackoverflow.ico' title='StackOverflow')
      td: a(href='http://stackoverflow.com/users/118220/cheezmeister') StackOverflow
    tr.github
      td: img(src='/assets/icons/github.ico' title='GitHub')
      td: a(href='http://github.com/cheezmeister') GitHub
    tr.tumblr
      td: img(src='http://tumblr.com/favicon.ico' title='Tumblr')
      td: a(href='http://cheezmeister.tumblr.com/') Tumblr
    tr.tigsource
      td: img(src='/assets/icons/tigsource.ico' title='TIGSource')
      td: a(href='http://forums.tigsource.com/index.php?action=profile;u=44442') TIGSource
    tr.gamefaqs
      td: img(src='/assets/icons/gamefaqs.ico' title='GameFAQs')
      td: a(href='http://www.gamefaqs.com/users/Cheezmeister') GameFAQs
    // tr.wiki
    //   td: img(src='/assets/icons/wiki.ico' title='wiki')
    //   td Cheezmeister
    // tr.gamertag
    //   td: img(src='/assets/icons/gamertag.png' title='gamertag')
    //   td xCheezmeister
    // tr.steam
    //   td: img(src='/assets/icons/steam.ico' title='steam')
    //   td xCheezmeister
    // tr.aim
    //   td: img(src='/assets/icons/aim.ico' title='Aim')
    //   td HeWhoLikethCheez
    // tr.skype
    //   td: img(src='/assets/icons/skype.ico' title='Skype')
    //   td HeWhoLikethCheez

//   .bling
//     img(src='https://projecteuler.net/profile/Cheezmeister.png')
//     img(src='http://stackexchange.com/users/flair/40769.png')
