mixin contact(name, link, icon)
  tr(class=name)
    td: img(src=icon title=name)
    td: a(href=link)= name

#sidebar
  p Drop me a line at [my first name] @ [this domain] or through one of:
  table.contact
    +contact('Twitter', 'http://twitter.com/chzmstr', '/assets/icons/twitter.ico')
    +contact('Reddit', 'http://www.reddit.com/u/Cheezmeister', 'http://www.reddit.com/favicon.ico')
    +contact('LinkedIn', 'http://linkedin.com/in/cheezmeister', '/assets/icons/linkedin.ico')
    +contact('StackOverflow', 'http://stackoverflow.com/users/118220/cheezmeister', '/assets/icons/stackoverflow.ico')
    +contact('GitHub', 'http://github.com/cheezmeister', '/assets/icons/github.ico')
    +contact('Tumblr', 'http://cheezmeister.tumblr.com/', 'http://tumblr.com/favicon.ico')
    +contact('TIGSource', 'http://forums.tigsource.com/index.php?action=profile;u=44442', '/assets/icons/tigsource.ico')
    +contact('GameFAQs', 'http://www.gamefaqs.com/users/Cheezmeister', '/assets/icons/gamefaqs.ico')
    // +contact('Wikipedia', 'https://en.wikipedia.org/wiki/User:Cheezmeister', '/assets/icons/wiki.ico')
    +contact('Wire', 'http://wire.com', 'https://wire.com/favicon.ico')
    // RIP, AIM. /me pours one out
    tr.aim
      td: img(src='/assets/icons/aim.ico', title='AOL Instant Messenger')
      td 
        a(href='https://help.aol.com/articles/aim-discontinued')
          span(style='text-decoration: line-through') AIM
        span ☠️
