#sidebar
  p I can be reached at my first name @ this domain or floating through the communities of the intertubes.
  table.contact
    tr.phone
      td: img(src='/assets/icons/phone.png' title='Phone')
      td: a(href='tel:19162582436') 1.916.BLUCHEN
    tr.twitter
      td: img(src='/assets/icons/twitter.ico' title='twitter')
      td: a(href='http://twitter.com/chzmstr') @chzmstr
    tr.reddit
      td: img(src='http://www.reddit.com/favicon.ico' title='Reddit')
      td: a(href='http://www.reddit.com/u/Cheezmeister') Cheezmeister
    tr.linkedin
      td: img(src='/assets/icons/linkedin.ico' title='LinkedIn')
      td: a(href='http://linkedin.com/in/cheezmeister') /in/cheezmeister
    tr.stackoverflow
      td: img(src='/assets/icons/stackoverflow.ico' title='StackOverflow')
      td: a(href='http://stackoverflow.com/users/118220/cheezmeister') Cheezmeister
    tr.github
      td: img(src='/assets/icons/github.ico' title='GitHub')
      td: a(href='http://github.com/cheezmeister') Cheezmeister
    tr.tigsource
      td: img(src='/assets/icons/tigsource.ico' title='TIGSource')
      td: a(href='http://forums.tigsource.com/index.php?action=profile;u=44442') Cheezmeister
    tr.gamefaqs
      td: img(src='/assets/icons/gamefaqs.ico' title='GameFAQs')
      td: a(href='http://www.gamefaqs.com/users/Cheezmeister') Cheezmeister
    tr.wiki
      td: img(src='/assets/icons/wiki.ico' title='wiki')
      td Cheezmeister
    tr.gamertag
      td: img(src='/assets/icons/gamertag.png' title='gamertag')
      td xCheezmeister
    tr.steam
      td: img(src='/assets/icons/steam.ico' title='steam')
      td xCheezmeister
    tr.aim
      td: img(src='/assets/icons/aim.ico' title='Aim')
      td HeWhoLikethCheez
    tr.skype
      td: img(src='/assets/icons/skype.ico' title='Skype')
      td HeWhoLikethCheez

