pre.sourceCode, .highlight pre {
  color: #003;
  background-color: #c3c3c3;

  span.kw {
    color: #f00;
    font-weight: bold;
  }
  pre.sourceCode span.dt {
    color: #902000;
  }
  span.dv, span.n {
    color: #0d0;
  }
  span.bn {
    color: #40a070;
  }
  span.fl {
    color: #40a070;
  }
  span.ch {
    color: #4070a0;
  }
  span.st {
    color: #4070a0;
  }
  span.co, span.cm, span.cl {
    color: #f0f;
    font-style: italic;
  }
  span.ot {
    color: #007020;
  }
  span.al {
    color: #f00;
    font-weight: bold;
  }
  span.fu {
    color: #06287e;
  }
  span.er {
    color: #f00;
    font-weight: bold;
  }
}

