<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{{ resource.meta.title }} - LuchenLabs</title>
        <meta name="description" content="{{ resource.meta.description }}" />
        <link rel="stylesheet" type="text/css" href="{{ media_url('/stylesheets/syntax.css') }}" />
        <link rel="stylesheet" type="text/css" 
          href="{{ media_url('/stylesheets/luchenlabs.css') }}" />
        <link rel="icon" type="image/png" href="{{ media_url('images/initials64.png') }}" />
    </head>
    <body>
    {% block body %} 
    {% endblock %}
    </body>
</html>







