{% extends "default.j2" %}

{% block body %}
<div class="header">
    <div class="logo">
        <a href="/">
          <img width="auto" height="auto" alt="Logo" src="{{ media_url('images/initials64.png') }}" />
        </a>
    </div>

    {% block header %}
    {% include "components/header.j2" %}
    {% endblock %}
</div>

<div class="main">
  {% block content %} 
  {% endblock %}
</div>

{% endblock %}
