{% extends "page.j2" %}

{% block content %}

{% block blurb %}
{% endblock %}

<table class="{{cls}}">
{% for project in node.walk_resources() %}
  {% if project != resource %}
    {% include "components/projectrow.j2" %}
  {% endif %}
{% endfor %}
</table>

{% endblock %}

