<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title - LuchenLabs</title>
        <link rel="stylesheet" type="text/css" href="$root/css/style.css" />
        <link rel="icon" type="image/png" href="$root/content/initials64.png"/>
        <link rel="alternate icon" type="image/svg+xml" href="$root/content/initials.svg"/>
    </head>
    <body>
        <div class="logo">
            <a href="$root/">
                <img width="auto" height="auto" alt="Logo" src="$root/content/initials64.png" />
            </a>
        </div>

        $body

        <div class="footer">
            $footer
        </div>
    </body>
</html>







