<h1>$title</h1>
by <em>$author</em> on <strong>$date</strong>
<div>Tagged as: $tags.</div>

$body

<!-- AddToAny BEGIN -->
<a
href="http://www.addtoany.com/share_save?linkurl=$url%2F&amp;linkname=$title"><img
src="http://static.addtoany.com/buttons/favicon.png" width="16" height="16"
border="0" alt="Share/Bookmark"/></a>


<!-- AddToAny BEGIN -->
<a class="a2a_dd"
href="http://www.addtoany.com/share_save?linkurl=http%3A%2F%2Fmy.url%2F&amp;linkname=name"><img
src="$root/content/addtoany_custom.png" width="16" height="16"
border="0" alt="Share/Bookmark"/></a>
<script type="text/javascript">
var a2a_config = a2a_config || {};
a2a_config.linkname = "$title";
a2a_config.linkurl = "$url";
a2a_config.show_title = 1;
</script>
<script type="text/javascript"
src="http://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
