<tr class="projectrow">
  <td>
    <p><a href="/projects/$shorttitle$">$longtitle$</a>: $description$</p>
    <p>Type: $genre$</p>
    <p>Technologies: $tech$</p>
  </td>

  <td class="dlsection">
      <p>
        <a class="$windows$" href="$windows$">
          <img class="$windows$" alt="Windows" title="Windows" width="16" height="auto" src="http://windows.microsoft.com/favicon.ico" />
        </a>

        <a class="$mac$" href="$mac$">
          <img class="$mac$" alt="Mac" title="Mac" width="16" height="auto" src="http://www.apple.com/favicon.ico" />
        </a>

      </p><p>


        <a class="$nix$" href="$nix$">
          <img class="$nix$" alt="Linux/Unix" title="Linux/Unix" width="16" height="auto" src="http://www.kernel.org/favicon.ico" />
        </a>

        <a class="$sauce$" href="$sauce$">
          <img class="$sauce$" alt="Src" title="Source code" width="16" height="auto" src="/content/icons/sauce.png" />
        </a>
      </p>
  </td>

  <td class="screenshot"> <a href="/projects/$shorttitle$">
    <img width="160" height="auto" alt="Screenshot" src="/content/screenshots/$shorttitle$.png" />
  </a></td>
</tr>


