<div id="toys">
    <!-- AddToAny BEGIN -->
		<div id="sharebutton">
    <a href="http://www.addtoany.com/share_save?linkurl=$root/$url&amp;linkname=$title">
			 <img 
			   src="$root/content/addtoany_custom.png" 
				 width="auto" 
				 height="auto"
				 title="Share/Bookmark"
				 alt="Share/Bookmark" />
    </a></div>
    <script type="text/javascript">
    var a2a_config = a2a_config || {};
    a2a_config.linkname = "$title";
    a2a_config.linkurl = "$url";
    a2a_config.show_title = 1;
    </script>
    <script type="text/javascript"
    src="http://static.addtoany.com/menu/page.js"></script>
    <!-- AddToAny END -->
    <p><a href="#download" id="downloadbutton">Download</a></p>
</div>

$intro
<a href="$screenshot">
  <img class="eyecandy" alt="Screenshot" src="$screenshot" width="auto" height="auto" />
</a>

<div>
$body
</div>

<div class="trailer">
<h2 id="download">Download</h2>
$downloadinfo
</div>
