<tr class="projectrow">
  <td>
    <p><a href="/projects/$shorttitle$">$longtitle$</a>: $description$</p>
    <p>Genre: $genre$</p>
		<p>Technologies: $tech$</p>
  </td>

  <td class="dlsection">
      <p>Download</p>
      <a class="$windows$" href="$windows$">
        <img class="$windows$" alt="Windows" title="Windows" src="http://windows.microsoft.com/favicon.ico" />
      </a>
      <a class="$mac$" href="$mac$">
        <img class="$mac$" alt="Mac" title="Mac" src="http://www.apple.com/favicon.ico" />
      </a>
      <a class="$nix$" href="$nix$">
        <img class="$nix$" alt="Linux/Unix" title="Linux/Unix" src="http://www.kernel.org/favicon.ico" />
      </a>
  </td>

  <td class="screenshot"> <a href="/projects/$shorttitle$">
    <img width="160" height="auto" alt="Screenshot"
  	src="/content/screenshots/$shorttitle$.png" />
  </a></td>
</tr>


