DarkestGrey   = #181818
DarkerGrey   = #282828
DarkGrey     = #323232
Grey         = #555555
LightGrey    = #839496
LighterGrey  = #93a1a1
LightestGrey = #eee8d5

LightGreen = rgb(200, 240, 150)
LighterGreen = rgb(170, 240, 180)
DarkGreen = #5f8700
DarkerGreen = #147d33
LightRed = rgb(240,150,150)
DarkRed = #863030
Violet = rgb(120, 90, 180)
LightBlue = #4499ff
DarkYellow = #66580b
Yellow = #af8700
LightYellow = #626262
DarkBlue = rgb(50,60,100)

body.article
  p img
    float right
    padding 8px

body
  background-color DarkGrey
  font-family "Arial", helvetica, sans-serif
  font-size 1em
  color LightGreen
  table-align center

  a
    color LightBlue
  a:hover
    color #0044aa
    border-bottom 0px
  h1,h2,h3,h4,h5,h6
    color LightRed
    text-shadow 2x 2px 5px Grey
  strong
    color DarkGreen
  em
    color DarkGreen
  code
    color DarkGreen

  pre 
    padding 3px
    border 1px solid Grey
    border-radius 2px
    background-color DarkerGrey
    code
      color LightestGrey

  .navigation
    min-height 48px
    text-align center
    font-size 18px
    margin -8px
    margin-bottom 2px
    border-bottom  1px solid LightGreen
    padding-top 16px
    // background-image  linear-gradient(to bottom, LightGrey, DarkGrey)
    background DarkGreen

    a
      color LightGreen
      text-shadow 2px
      text-decoration none
      margin-right 40px
      // border-right 1px solid DarkGrey
      padding-bottom 2px
      // border-bottom 2px solid DarkGrey
      vertical-align middle

      &:hover
        color LightGrey


  #sidebar
    width 12%
    float right
    font-size 0.8em

    tr>td>img
      width 16px
      height 16px
      background-color white
      border 1px solid DarkGreen
      border-radius 8px


  #content
    position relative
    width 70%
    min-width 1em
    height auto
    margin-left auto
    margin-right auto
    padding-left 8px
    padding-right 8px
    border-left  1px solid rgb(50,50,50)
    border-right  1px solid rgb(50,50,50)
    min-height 800px

    .badge
      background DarkerGrey
      border 1px solid DarkestGrey
      border-radius  5px
      padding  2px
      text-shadow 1px 1px black
      margin 1em
      text-transform capitalize

      &.status
        &.st-char
          font-size 200%
          vertical-align -0.25ex

        &.st-wip
          background-color DarkYellow
        &.st-prototype
          background-color LightGrey
        &.st-hiatus
          background-color DarkGrey
        &.st-ongoing
          background-color DarkBlue
        &.st-finished
          background-color DarkerGreen

    .status img
      vertical-align baseline

    .postlist
      h2, .posttags
        display inline-block
      span.tag-creative
        background Violet
      span.tag-technical
        background DarkerGreen
      span.tag-gamedev
        background DarkRed
      span.tag-ramblings
        background DarkYellow


    .centered
      margin-left auto
      margin-right auto

    img[alt=Screenshot]
      text-align center

    img
      max-width:100%

    table.sampler
      text-align center
      h3,h4,h5,h6
        text-align left
      img 
        width 25%
        text-align right

    table.projectlist
      margin-top 10px
      margin-bottom 10px
      margin-left auto;
      margin-right auto

      p
        text-align top

      .projectrow td
        border 2px solid transparent

      .screenshot img
        width  160px
        height 120px

    table.tunes
      tr
        height 4em
        border-left 3px solid white
        border-radius 5px

    table.stats
      border 1px solid DarkGreen

  .embed
    text-align center

  .bigblurb
    text-rendering: optimizelegibility
    font-size: 180%
    text-align: center

p.shebang
  font-family 'Hack', 'Courier', monospace
  border 1px solid lime
  background black



#omglookatme
  background-color rgb(10,100,50)
  background-image  linear-gradient(rgb(40,120,80), rgb(10,100,50))
  border-top  1px solid rgb(0,120,120)
  border-bottom  1px solid rgb(0,120,120)
  margin-left  -8px
  margin-right  -8px
  padding-left 8px
  line-height 2px

  & em
    color  rgb(150,100,50)
    font-family  serif
    font-size 120%
    text-shadow  rgb(200,150,100) 1px 1px


.figure
  display inline


/* I wish Markdown wouldn't jam these stupid things in */
.caption
  visibility hidden
  font-color black
  font-size 8px
  border-bottom 1px solid black
  border-left 1px solid black
  border-right 1px solid black
  position relative
  top 0px
  margin 0px


div.logo
  float left


.eyecandy
  margin 8px
  position relative
  max-width 600


.screenshot img
  border  2px solid LighterGreen

.dlsection
  ul
    list-style-type none
  img
    float right
    font-size 14px
    padding 4px
    padding-left 16px
    padding-right 16px
    margin 2px
    border  1px solid rgb(30,30,30)
    border-radius  3px
    &.supported
      opacity 1.0
    &.supported:hover
      background-color lightgreen
    &.unsupported, &.unsupported:hover
      opacity 0.2
      cursor default



img.windows
  background-color steelblue

img.mac
  background-color white

img.nix
  background-color tan

img.sauce
  background-color black


.footer a
  color rgb(230,230,230)
  font-weight bold

.footer
  text-align center
  text-align top

.footer
  height 40px

.footer
  #middle
    text-align center
    font-style mono
  #left
    float left
  #right
    float right

input#donate
  text-decoration none


table
  position  relative
  border  0px



img
  border-style none
  border-width 2px
  max-width 800px
  text-align center
  margin auto auto auto auto
  table-align center

