doctype strict
html(xmlns="" xml:lang="en" lang="en")
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    title #{title} - LuchenLabs
    meta(name="description" content="#{description}")
    link(rel="stylesheet" type="text/css" href="/stylesheets/syntax.css")
    link(rel="stylesheet" type="text/css" href="/stylesheets/luchenlabs.css")
    link(rel="icon" type="image/png" href="/assets/images/initials64.png")
  body
    block content 
      !=content

