extends ./page.pug

block innercontent
  #intro
    !=content

  h3 I make stuff like games...
  a(href='/projects/cheezus')
    img.sampler(src='/assets/images/screenshots/cheezus.png')
  h3 ...and stuff like apps...
  a(href='https://github.com/Cheezmeister/fkls')
    img.sampler(alt='fkls' src='https://pbs.twimg.com/media/CSIvIqPUwAA9pOD.jpg')

  h3 ...and tunes...
  p: a(href='http://luchenlabs.com/dl/Lunar Ruin.mp3') Lunar Ruin.mp3
  audio(title='Lunar Ruin' src='http://luchenlabs.com/dl/Lunar Ruin.mp3' controls) Looks like your browser can't play HTML5 audio.

  h3 and sometimes doodles.
  p
    img.sampler(alt='fullmoon' src='https://pbs.twimg.com/media/CSicKr3VEAA2ezl.jpg')

  h3 But mostly I make games.
  p: a(href='/projects/chromathud')
    img.sampler(alt='chromathud' src='/assets/images/screenshots/chromathud.png')

  p I do these things, not because they are easy, but because they are hard. It makes me happy.

  img(alt='Jameson' src='/assets/images/jamie.png' title='His name is Jameson. Disclaimer: I did not make him.')
