extends ./default.pug

block content
  include ./partials/header.pug
  main
    include ./partials/sidebar.pug
    nav.navigation
      a(href="/") Home

      a(href="/lp") Code
      a(href="/projects") Games
      a(href="/words") Words
      a(href="/tunes") Tunes
      a(href="/bio") Bio
    #content.main
      block innercontent
        !=content
  include ./partials/footer.pug

