extends ./page.pug
block innercontent
  h1 Heading 1
  p It's large.
  h2 Heading 2
  p Also large.
  h3 Three
  p Meh.
  h4 Four
  p Barely larger than text, usually.
  h5 Five
  p That might even be smaller. But it's still a heading.
  h6 Six
  p Teeny tiny.

  h1 Text
  != content

  h2 Badges
  p We got tags for posts
  .postlist
    span.badge Normal
    span.badge.tag-creative Creative
    span.badge.tag-technical Technical
    span.badge.tag-gamedev Gamedev
    span.badge.tag-ramblings Ramblings
  p And we got status things for projects
  span.badge.status.st-finished Done
  span.badge.status.st-wip WIP
  span.badge.status.st-ongoing Ongoing
  span.badge.status.st-prototype Prototype
  span.badge.status.st-hiatus Hiatus


