extends ./page.jade

block innercontent

  p {{{content}}}

  table.tunes
    {{#tracks}}
    tr
      td(id='{{title}}')
        h3: a(href='{{path}}') {{title}}
        p 
          {{description}}
      td
        audio(src='{{path}}' controls) Looks like your browser can't play HTML5 audio.

    {{/tracks}}

